body {
  background-color: rgb(155, 153, 153);
  font-family: 'Raleway', sans-serif;
}

.navbar-brand {
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  letter-spacing: 0.1rem;
}

.adress-block {
  justify-content: center;
}

.adress-block form {
  max-width: 600px;
}

.adress-block form button {
  margin: auto;
  display: block;
  font-weight: 600;
  /* text-transform: uppercase; */
}